<% include ../partials/headerBlog %>

    <div class= "ui main text container segment">
        <div class= "ui huge header">
            <%= blog.title %>
        </div>    
        
        <div class= "ui top attached">
            <div class= "item">
                
                <img class= "ui centered rounded image" src= "<%= blog.image %>">
            
                <div class= "content">
                    <span><%= blog.created.toDateString() %></span>
                </div>
                
                <div class= "content">
                    <span><strong><%= blog.author.username %></strong></span>
                </div>
                
                <div class= "description">
                    <p><%- blog.body %></p>
                </div>
                <% if(currentUser && blog.author.id.equals(currentUser._id)){ %>
                <a href= "/blogs/<%= blog._id %>/edit" class= "ui orange basic button">EDIT</a>
                <form id= "delete" action= "/blogs/<%= blog._id %>?_method=DELETE" method= "POST">
                    <button class="ui red basic button">DELETE</button>
                </form>
                <% } %>
                
                <div class= "content">
                    <span>Approx. Taxi Fare (1 KM): <strong><%= blog.taxiFare %></strong></span>
                </div>
                
                <div class= "content">
                    <span>Approx. Meal Cost: <strong><%= blog.mealCost %></strong></span>
                </div>
                
                <div class= "content">
                    <span>Approx. Water Cost (1 L): <strong><%= blog.waterCost %></strong></span>
                </div>
                
                <div class= "content">
                    <span>Approx. Nearest General Store Distance: <strong><%= blog.storeDst %></strong></span>
                </div>
            </div>
        </div>
    </div>
    
    <div class="ui text container">
        <a class = "ui positive basic button" href= "/blogs/<%= blog._id %>/comments/new">Add New Comment</a>
    </div>
    
    <div class= "ui text container raised segments">
        <% blog.comments.forEach(function(comment){ %>
            <div class= "ui segment">
                <strong><%= comment.author.username %></strong>
                <p><%= comment.text %></p>
                <% if(currentUser && comment.author.id.equals(currentUser._id)){ %>
                <a href="/blogs/<%= blog._id %>/comments/<%= comment._id %>/edit" class="ui yellow basic button">Edit</a>
                <form action="/blogs/<%= blog._id %>/comments/<%= comment._id %>?_method=DELETE"  class="delete-form" method="POST">
                    <button class="ui negative basic button">Delete</button>                        
                </form>
                <% } %>
            </div>
        <% }) %>
    </div>
    
<% include ../partials/footerBlog %>